
body {
   font-family: 'Ubuntu', sans-serif;
}

.header {
   width: 100%; /* ширина буде у всю ширину батьківського елементу */
   max-width: 1180px; /* максимальна ширина */
   margin: 0 auto; /* для розміщення по центру */
   margin-top: 30px;
   display: flex; /* буде контейнером для всіх елементів шапки */
   justify-content: space-between; /* рівномірно розподіляє всі елементи по ширині flex-блоку. Перший елемент спочатку, останній в кінці(дивимось підказку по flexbox з лекції)*/
   align-items: center; /* вирівнюємо елементу за центром */
   box-sizing: border-box; /* ширина border не додається в ширину елементу */
}

.nav {
   display: flex;
   list-style-type: none; /* прибираємо вигляд списку за замовчування */
   justify-content: flex-start;
   font-size: 14px; 
   align-items: center;
}

.nav>li{
   margin-left: 15px; /* всім дочірнім елементам класу nav відступ праворуч 15px*/
}

.nav>li>a{
   text-decoration: none;
   color: #202020;
   font-weight: 700;
}

.logo {
   display: flex;
   align-items: center;
   text-decoration: none;
}
.logo img {
   display: block;
   width: 100px;
   height: 100px;
}

.logo span {
   font-size: 24px;
   color: #202020;
   font-weight: 700;
}

.nav .button {
   background: #5B9AFF/*колір фону*/;
   border-radius: 5px/*радіус*/;
   color: #fff/*колір шрифта*/;
   font-weight: initial;/**/;
   padding: 5px 15px;
   border: none;
}

.page-top {
   border-top: 1px solid #C2C2C2;
}

.page{
   padding-top: 60px;
   padding-bottom: 60px;
   position: relative;
}


.wrap{
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   box-sizing: border-box;
}

.page h2 {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #b1b0b0;
    top: -20px;
    background: #fff;
    padding: 0 20px;
}

.page .button{
   background: #5B9AFF;
   border-radius: 5px;
   color: #fff;
   padding: 10px 35px;
   font-weight: initial;
   font-size: 20px;
   border: 1px  #5B9AFF;
   margin-top: 40px;
   margin-bottom: 40px;
}

.page h1 {
   font-size: 42px;
   color: #202020;
   font-weight: bold;

}
.page .hero-text{
   width: 641px;
   font-size: 28px;  
   color: #4F4F4F;
   font-weight: 400;
   line-height: 51px;/* висота міжрядкового інтервалу, беремо з фігми*/
}

.departments h3 {
   font-weight: 400;
   font-size: 24px;
   line-height: 25px;
   color: #000000;
}

.departments_second  h3 {
   font-size: 28px;
   line-height: 32px;
   font-weight: bold;
   color: #000000;
}

.departments p , .departments_second p {
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   color: #B2B2B2;
}


.departments{
   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: 50% 50%;
   grid-row-gap: 20px; /*простір між рядками*/
}

.departments_second{
   display: grid;
   grid-template-columns:repeat(3, 1fr);

}

.dep-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.dep-item .img{
   flex-basis: 140px; /* базовий розмір флекс елементу */
   text-align: center;
}
.dep-item .text{
   flex-basis: calc(100% - 140px); /* розміри в css можна обчислювати за допомоги функцій calc*/
}

footer {
   background-color: #F7F7F7;
}

.footer{
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.social{
   display: flex;
   list-style-type: none;
}
.social li{
   margin-right: 20px;
}
.social a{
   text-decoration: none;
   color: #B2B2B2;
   font-size: 24px;
}

